<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}c{% endblock %}</title>
</head>
<body>
  <header>
    <h1>Inteligentny zamek</h1>
{% if not user.is_anonymous %}
      zalogowany jako {{ user.username }}!
    <h3>TUTAJ BEDZIE LISTAAA XD</h3>
      <a href="{% url 'logout' %}">logout</a>


{% for post in rows %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}


    {% else %}
      <a href="{% url 'login' %}">login</a>
    {% endif %}
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>

</body>
</html>