<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      xmlns:margin-top="http://www.w3.org/1999/xhtml">



<body style="background: #303030">

<div class="row" style="background: #212121" >
<div class="col-lg-2"  >
</div>
<div class="col-lg-10"  style="padding-bottom: 5" >
<h1 style="color: WHITE">Inteligentny Zamek</h1>
</div>
</div>

<div class="row" style="margin-top: 20" >
  <div class="col-lg-2">

  </div>
  <div class="col-lg-4">


{% block content %}
  <h2 style="color: #c0c0c0">Jeśli jesteś administratorem zaloguj się by móc korzystać z histori użycia zamków</h2>
  <form method="post" style="margin-top: 20">
    {% csrf_token %}

   {% if form.errors  %}<p class="error" style="color: ff8080">Niepoprawny login lub hasło</p>{% endif %}


    <div class="form-group">
  <label for="id_username" style="color: #c0c0c0">Login:</label>
  <input type="text" name="username" autofocus required id="id_username" class="form-control" >
  </div>

    <div class="form-group">
  <label  for="id_password" style="color: #c0c0c0">Hasło:</label>
  <input type="password" name="password" class="form-control"  required id="id_password">
</div>
    <button type="submit" class="btn btn-basic" >Zaloguj</button>
  </form>
{% endblock %}
  </div>
  <div class="col-lg-4">

  </div>

</div>
</body>